.tengahtext {

    text-align: center;
}
.tengah {
    
  text-align: center;
    
}
nav ul{

    background-color: rgb(64, 64, 64);
    list-style-type: none;
    margin: 0%;
    padding:0%;
    overflow: hidden;
    
    

}nav a{

 text-decoration: none;
 list-style-type: none;
 color: white;
 padding: 15px;
 display: block;

 

}li{

    float: left;
    
}
